@import "tailwindcss";

@font-face {
  font-family: 'Feather Bold';
  src: url('/Feather Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #fffbf9;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Feather Bold', Arial, Helvetica, sans-serif;
}

* {
  font-family: 'Feather Bold', Arial, Helvetica, sans-serif;
}